/* Attribute Selector */
input[type=text] {
    border: 2px solid yellowgreen;
    font-size: 14px;
    border-radius: 4px;
}

input[type=password] {
    border: 2px solid orange;
    font-size: 14px;
    border-radius: 4px;
}

/* Child Selector */
ul > li {
    list-style: circle;
    font-size: 16px;
    color: blue;
}

/* Sibling Selector */
h1 + p {
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
}

a:hover {
    color: red;
    font-size: 20px;
}

li:nth-child(2) {
    background-color: aquamarine;
}

p::first-letter {
    font-size: 200%;
    color: darkred;
    font-weight: bold;
}

h1::before {
    content:"⭐";
}
h1::after {
    content:"⭐";
}